body {
    font-family: sans-serif;
    background-color:cyan  ;

}
h1 {
    background-color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-color: cyan;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h2 {
    background-color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
}
ol {
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
